@page "/make-reservation"
@using RoomReservations.Models
@using RoomReservations.Data
@inject IAvailableRoomService AvailableRoomService
@inject IReservationService ReservationService
@rendermode InteractiveServer

<h3>MakeReservation</h3>

Formularz tworzenia rezerwacji

<EditForm Model="@_reservation" OnSubmit="Submit" FormName="ReservationForm">
    <MudSelect T="int" Label="Select Room" @bind-Value="@_selectedRoomId">
        @foreach (var room in _availableRoomsFromDb)
        {
            <MudSelectItem T="int" Value="@room.Id">@room.Name</MudSelectItem>
        }
    </MudSelect>
    <br/>
    <br/>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="AddSelectedRoom">Add Room</MudButton>
    <br/>
    <MudPaper Width="300px">
        <MudList Clickable="false">
            <MudListSubheader>Selected rooms</MudListSubheader>
            @foreach (var selectedRoom in _selectedRooms)
            {
                <MudListItem>@selectedRoom.Name</MudListItem>
            }
        </MudList>
    </MudPaper>
    <br/>
    <MudDateRangePicker Label="Basic range picker" @bind-DateRange="_dateRange" PickerClosed="ReloadAvailableRoomsAtDates"/>
    <br/>
    @if (_showAlert)
    {
        <MudAlert Severity=@_severity ShowCloseIcon="true" CloseIconClicked="() => _showAlert = false">@_message</MudAlert>
    }
    <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</MudButton>
</EditForm>


@code {
    Reservation _reservation = new();
    List<Room> _availableRoomsFromDb = [];
    readonly List<Room> _selectedRooms = [];
    private DateRange _dateRange = new(DateTime.Now.Date, DateTime.Now.AddDays(5).Date);
    private int _selectedRoomId;
    private bool _showAlert;
    private Severity _severity = Severity.Info;
    private string _message = "Your alert message goes here.";

    protected override async Task OnInitializedAsync()
    {
        await ReloadAvailableRoomsAtDates();
    }

    private void AddSelectedRoom()
    {
        // Find the selected room by its ID
        var selectedRoom = _availableRoomsFromDb.FirstOrDefault(room => room.Id == _selectedRoomId);

        // Add the selected room to the reservation if it's not already added
        if (selectedRoom != null && !_selectedRooms.Contains(selectedRoom))
        {
            _availableRoomsFromDb.Remove(selectedRoom);
            _selectedRooms.Add(selectedRoom);
        }

        // Clear the selection
        _selectedRoomId = 0;
    }

    private async Task ReloadAvailableRoomsAtDates()
    {
        var start = _dateRange.Start ?? DateTime.MinValue.Date;
        var end = _dateRange.End ?? DateTime.MaxValue.Date;
        _availableRoomsFromDb = await AvailableRoomService.GetAvailableRoomsAsync(start, end);
    }

    public async void Submit(EditContext context)
    {
        if (!_selectedRooms.Any())
        {
            ShowAlert(Severity.Error, "Please select at least one room");
            return;
        }

        if (_dateRange.Start is null || _dateRange.End is null)
        {
            ShowAlert(Severity.Error, "Please select reservation dates");
            return;
        }

        _reservation.StartDate = _dateRange.Start ?? DateTime.MinValue;
        _reservation.EndDate = _dateRange.End ?? DateTime.MinValue;
        var result = await ReservationService.AddReservationAsync(_reservation, _selectedRooms);

        if (!result) ShowAlert(Severity.Error, "Something went wrong");
        else ShowAlert(Severity.Success, "Reservation added successfully");

        _reservation = new Reservation();
        await ReloadAvailableRoomsAtDates();
    }

    private void ShowAlert(Severity severity, string message)
    {
        _severity = severity;
        _message = message;
        _showAlert = true;
    }

}