@page "/make-reservation/{StartingRoomId:int?}"
@page "/make-reservation"
@using RoomReservations.Models
@using RoomReservations.Data
@using Microsoft.AspNetCore.Authorization
@inject IAvailableRoomService AvailableRoomService
@inject IReservationService ReservationService
@inject SharedMethodsService SharedMethodsService
@inject NavigationManager NavigationManager
@inject ITransactionService TransactionService
@attribute [Authorize]

@rendermode InteractiveServer
<PageTitle>Utwórz rezerwację</PageTitle>
<h3>Formularz tworzenia rezerwacji</h3>

<MudOverlay Visible="_isOverlayVisible" DarkBackground="true" Absolute="true">
    <MudPaper Class="pa-16 ma-2" Elevation="3">
        <MudText Typo="Typo.h2">@_overlayMessage</MudText>
        <br style="line-height: 3rem;"/>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ConfirmationOkClicked">Zobacz rezerwacje</MudButton>

        @if (_showPaymentDialog || _transactionId is not null)
        {
            <div style="padding-top: 4em;">
                <MudText Typo="Typo.h4">Zapłać wygodnie tutaj</MudText>

                <div style="padding-top: 1em">
                    <PaymentWindow TransactionIds="@( [_transactionId ?? -1])" Amount="_totalPrice"/>
                </div>
            </div>
        }

    </MudPaper>
</MudOverlay>

<MudGrid>
    <MudItem xs="12" lg="7">
        <MudPaper Class="pa-8 ma-2">
            <MudDateRangePicker Label="Wybierz datę rezerwacji" DateRange="_dateRange"
                                MinDate="@DateTime.Now.AddDays(-1)"
                                DateRangeChanged="@(async value => { _dateRange = value; await DatesChanged(); })"
                                IsDateDisabledFunc="@(IsDateAvailable)"
                                PickerVariant="PickerVariant.Static" Orientation="Orientation.Landscape"/>
            <br/>
            <MudSelect @ref="_roomSelect" T="string" Label="Wybierz pokój" Clearable="true"
                       ValueChanged="@(value => { _selectedRoomName = value; })">
                @foreach (var room in _availableRoomsFromDb)
                {
                    <MudSelectItem T="string" Value="@room.Name"></MudSelectItem>
                }
            </MudSelect>

            <div style="padding-top: 2em">
                <MudButton Disabled="@(_selectedRoomName is null)" Variant="Variant.Filled" Color="Color.Primary" @onclick="AddSelectedRoom">Dodaj pokój</MudButton>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" lg="5">
        <MudPaper Class="pa-2 ma-2">
            <MudSimpleTable Dense="true" Elevation="0">
                <thead>
                <tr>
                    <div style="padding: 1em">
                        <MudText>Wybrane pokoje:</MudText>
                    </div>
                </tr>
                </thead>
                <tbody>
                @foreach (var selectedRoom in _addedRooms)
                {
                    <tr>
                        <td>
                            <MudImage Height="200" Src="@selectedRoom.ImageUrl"/>
                        </td>
                        <td>
                            @selectedRoom.Name
                        </td>
                        <td>
                            @selectedRoom.PricePerNight zł/noc
                        </td>
                        <td>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary" OnClick="@(() => RemoveSelectedRoom(selectedRoom))"/>
                        </td>
                    </tr>
                }
                </tbody>
            </MudSimpleTable>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" lg="7">
        <MudPaper Class="pa-8 ma-2">
            <MudText>Całkowita kwota rezerwacji: @_totalPrice zł</MudText>
            <div style="padding-top: 1em">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Disabled="@(DisableSubmit || _localDisableSubmit)">Rezerwuj</MudButton>
            </div>
        </MudPaper>
        <Alert @ref="_alert"></Alert>
    </MudItem>
</MudGrid>


@code {
    [Parameter] public int? StartingRoomId { get; set; }
    ApplicationUser? User { get; set; }
    [Parameter] public EventCallback HijackSubmit { get; set; }

    [Parameter] public bool DisableSubmit { get; set; }
    private bool _localDisableSubmit = true;
    [Parameter] public string RedirectUrl { get; set; } = "/list-reservations";
    Reservation _reservation = new();
    List<Room> _availableRoomsFromDb = [];
    readonly List<Room> _addedRooms = [];
    private DateRange _dateRange = new();
    private string? _selectedRoomName;
    private MudSelect<string> _roomSelect = new();

    private Alert _alert = new();

    private bool _isOverlayVisible;
    private string _overlayMessage = "Zapisywanie...";

    private decimal _totalPrice;
    private int? _transactionId;
    private bool _showPaymentDialog;

    private IEnumerable<Reservation>? _currentReservationsForRooms;

    protected override async Task OnInitializedAsync()
    {
        await ReloadAvailableRoomsAtDates();
        // If the room ID is provided, add it to the selected rooms
        if (StartingRoomId is not null)
        {
            _dateRange.Start = null;
            _dateRange.End = null;
            _selectedRoomName = _availableRoomsFromDb.FirstOrDefault(room => room.Id == StartingRoomId)?.Name ?? string.Empty;
            AddSelectedRoom();
        }
    }

    private void AddSelectedRoom()
    {
        if (_selectedRoomName is null) return;

        // Find the selected room by its ID
        var selectedRoom = _availableRoomsFromDb.FirstOrDefault(room => room.Name == _selectedRoomName);

        // Add the selected room to the reservation if it's not already added
        if (selectedRoom != null && !_addedRooms.Contains(selectedRoom))
        {
            _availableRoomsFromDb.Remove(selectedRoom);
            _addedRooms.Add(selectedRoom);
            CheckIfReservationComplete();
        }

        // Clear the selection
        _roomSelect.Clear();
        RecalculateTotalPrice();
    }

    private async Task RemoveSelectedRoom(Room room)
    {
        _addedRooms.Remove(room);
        await ReloadAvailableRoomsAtDates();
        RecalculateTotalPrice();
        CheckIfReservationComplete();
    }

    private async Task DatesChanged()
    {
        await ReloadAvailableRoomsAtDates();
        RecalculateTotalPrice();

        CheckIfReservationComplete();
    }

    private async Task ReloadAvailableRoomsAtDates()
    {
        var start = _dateRange.Start ?? DateTime.MinValue.Date;
        var end = _dateRange.End ?? DateTime.MinValue.Date;
        _availableRoomsFromDb = (await AvailableRoomService.GetAvailableRoomsAsync(start, end)).Except(_addedRooms).ToList();
    }

    public async void Submit()
    {
        if (HijackSubmit.HasDelegate)
        {
            await HijackSubmit.InvokeAsync(null);
            return;
        }

        if (User is null)
        {
            // Get the current user
            var (user, error) = await SharedMethodsService.GetCurrentUserAsync();
            if (user is null)
            {
                var msg = error == GetCurrentUserError.UserNotLoggedIn ? "Zaloguj się, aby dokonać rezerwacji" : "Wystąpił nieoczekiwany błąd";
                _alert.ShowAlert(Severity.Error, msg);
                return;
            }

            User = user;
        }

        _ = await SaveReservation(User);
    }

    public async Task<bool> SaveReservation(ApplicationUser user)
    {
        if (!_addedRooms.Any())
        {
            _alert.ShowAlert(Severity.Error, "Wybierz przynajmniej jeden pokój");
            return false;
        }

        if (_dateRange.Start is null || _dateRange.End is null)
        {
            _alert.ShowAlert(Severity.Error, "Wybierz datę rezerwacji");
            return false;
        }

        if (_dateRange.Start == _dateRange.End)
        {
            _alert.ShowAlert(Severity.Error, "Rezerwacja musi trwać przynajmniej jeden pełny dzień");
            return false;
        }

        OpenOverlay();
        _reservation.StartDate = _dateRange.Start ?? DateTime.MinValue;
        _reservation.EndDate = _dateRange.End ?? DateTime.MinValue;

        // Add the user to the reservation
        _reservation.User = user;
        _reservation.UserId = user.Id;

        var result = await ReservationService.AddReservationAsync(_reservation, _addedRooms);
        ChangeOverlayMessage(!result ? "Coś poszło nie tak" : "Pomyślnie dodano rezerwację");

        // create transaction to be paid if the reservation was added successfully
        if (!result) return result;

        _transactionId = await TransactionService.AddTransactionAsync(_reservation, _totalPrice);
        _showPaymentDialog = true;

        return result;
    }

    private void OpenOverlay()
    {
        _isOverlayVisible = true;
        StateHasChanged();
    }

    private void ChangeOverlayMessage(string message)
    {
        _overlayMessage = message;
        StateHasChanged();
    }

    private void ConfirmationOkClicked()
    {
        NavigationManager.NavigateTo(RedirectUrl);
    }

    private void RecalculateTotalPrice()
    {
        _totalPrice = 0;
        var stayLength = Math.Ceiling((_dateRange.End - _dateRange.Start)?.TotalDays ?? 0);
        foreach (var room in _addedRooms)
        {
            _totalPrice += room.PricePerNight * (decimal)stayLength;
        }
    }

    private bool IsDateAvailable(DateTime date)
    {
        var roomsToFind = _addedRooms.ToList();

        var selectedRoom = _availableRoomsFromDb.FirstOrDefault(room => room.Name == _selectedRoomName);
        if (selectedRoom is not null) roomsToFind.Add(selectedRoom);

        // this could be optimized by using a dictionary of rooms and their reservations
        _currentReservationsForRooms = ReservationService.AllReservationsForAnyOfRooms(roomsToFind).ToList();

        return !_currentReservationsForRooms.All(r => r.StartDate > date || r.EndDate < date);
    }

    private void CheckIfReservationComplete()
    {
        _localDisableSubmit = _dateRange.Start is null || _dateRange.End is null || _addedRooms.Count == 0 || _dateRange.Start == _dateRange.End;
    }

}