@page "/internal/edit-user/{id}"
@using RoomReservations.Models
@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations
@inject UserManager<ApplicationUser> UserManager
@inject SharedMethodsService SharedMethodsService

@attribute [Authorize(Roles = RoleNames.Admin)]
<h3>Edytuj dane użytkownika</h3>

@if (_userToEdit is null)
{
    <p>Użytkownik nie istnieje</p>
    return;
}
<MudForm @ref="_editUserForm" Style="position: relative">
    <MudOverlay Visible="_isDeletedOverlayVisible" Style="background-color: rgba(0, 0, 0, 0.5) !important"
        Absolute="true">
        <MudPaper Class="pa-16 ma-2" Elevation="3">
            <MudText Typo="Typo.h4">Użytkownik usunięty</MudText>
        </MudPaper>
    </MudOverlay>
    <MudTextField T="string" Label="Email klienta" Required="true" RequiredError="Email jest wymagany!"
        @bind-Value="Input.Email" />

    <div class="d-flex justify-space-between gap-4">
        <MudTextField T="string" Label="Imię klienta" Required="true" RequiredError="Imię jest wymagane"
            @bind-Value="Input.FirstName" />

        <MudTextField T="string" Label="Nazwisko klienta" Required="true" RequiredError="Nazwisko jest wymagane"
            @bind-Text="Input.LastName" />
    </div>

    <MudTextField T="string" Label="Nr tel klienta" Required="false" @bind-Value="Input.PhoneNumber" />

    <MudSelect T="string" Label="Rola" @bind-Value="@Input.Role">
        @foreach (var role in RoleNames.Roles)
        {
            <MudSelectItem T="string" Value="@role">@role</MudSelectItem>
        }
    </MudSelect>
</MudForm>
<MudGrid Spacing="10" Justify="Justify.Center" Style="padding-top: 1em">
    <MudItem>
        <MudButton Variant="Variant.Filled" Color="Color.Primary"
            Disabled="@(_editUserForm.IsValid || _isDeletedOverlayVisible)" OnClick="SaveUser">Zapisz</MudButton>
    </MudItem>

    <MudItem>
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Disabled="@_isDeletedOverlayVisible"
            OnClick="DeleteUser">Usuń</MudButton>
    </MudItem>

    <MudItem>
        <MudButton Variant="Variant.Filled" Color="@(_isDeletedOverlayVisible ? Color.Primary : Color.Default)"
            OnClick="SharedMethodsService.GoBackAsync">Wróć</MudButton>
    </MudItem>
</MudGrid>
<Alert @ref="_alert"></Alert>

@code {
    [Parameter] public string Id { get; set; } = string.Empty;
    MudForm _editUserForm = new();
    ApplicationUser? _userToEdit = new();
    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();
    Alert _alert = new();
    bool _isDeletedOverlayVisible;

    protected override async Task OnInitializedAsync()
    {
        _userToEdit = await UserManager.FindByIdAsync(Id);
        if (_userToEdit is not null)
        {
            Input.Email = _userToEdit.Email!;
            Input.FirstName = _userToEdit.FirstName;
            Input.LastName = _userToEdit.LastName;
            Input.PhoneNumber = _userToEdit.PhoneNumber;
            Input.Role = (await UserManager.GetRolesAsync(_userToEdit)).FirstOrDefault() ?? "Brak roli";
        }
    }

    private async Task SaveUser()
    {
        if (_userToEdit is null)
        {
            return;
        }

        if (_editUserForm.Validate().IsCompletedSuccessfully == false)
        {
            _alert.ShowAlert(Severity.Error, "Formularz zawiera błędy!");
            return;
        }

        _userToEdit.UserName = Input.Email;
        _userToEdit.Email = Input.Email;
        _userToEdit.FirstName = Input.FirstName;
        _userToEdit.LastName = Input.LastName;
        _userToEdit.PhoneNumber = Input.PhoneNumber;

        var result = await UserManager.UpdateAsync(_userToEdit);
        if (result.Succeeded)
        {
            await UserManager.RemoveFromRolesAsync(_userToEdit, await UserManager.GetRolesAsync(_userToEdit));
            await UserManager.AddToRoleAsync(_userToEdit, Input.Role);
            _alert.ShowAlert(Severity.Success, "Zapisano pomyślnie");
        }
        else
        {
            _alert.ShowAlert(Severity.Error, "Wystąpił błąd: " + result.Errors.FirstOrDefault()?.Description);
        }
    }

    private async Task DeleteUser()
    {
        if (_userToEdit is null)
        {
            return;
        }

        _isDeletedOverlayVisible = true;
        await UserManager.DeleteAsync(_userToEdit);
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Email jest wymagany")]
        [EmailAddress(ErrorMessage = "Niepoprawny adres email")]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Imię jest wymagane")]
        [DataType(DataType.Text)]
        [Display(Name = "Imię")]
        [MinLength(2, ErrorMessage = "Imię musi zawierać przynajmniej 2 znaki")]
        [RegularExpression(@"^[A-Z\p{Lu}][a-z\p{Ll}]*$", ErrorMessage = "Imię musi zaczynać się z dużej litery i nie może zawierać cyfr i znaków specjalnych")]
        public string FirstName { get; set; } = "";

        [Required(ErrorMessage = "Nazwisko jest wymagane")]
        [DataType(DataType.Text)]
        [Display(Name = "Nazwisko")]
        [MinLength(2, ErrorMessage = "Nazwisko musi zawierać przynajmniej 2 znaki")]
        [RegularExpression(@"^([A-Z\p{Lu}][a-z\p{Ll}]+)([\ \-][A-z\p{Lu}][a-z\p{Ll}]+)*$", ErrorMessage = "Nazwisko musi zaczynać się z dużej litery i nie może zawierać cyfr")]
        public string LastName { get; set; } = "";

        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }

        // Role
        [Required(ErrorMessage = "Rola jest wymagana")]
        [DataType(DataType.Text)]
        [Display(Name = "Rola")]
        public string Role { get; set; } = "";

    }

}