@using RoomReservations.Models
@using RoomReservations.Data
@inject NavigationManager NavigationManager
@inject IReservationService ReservationService

<MudCard Style="position: relative;">
    <MudOverlay Visible="_isOverlayVisible" Style="background-color: rgba(255, 255, 255, 0.7) !important" Absolute="true">
        <MudText Typo="Typo.h4">Reservation deleted</MudText>
    </MudOverlay>
    <MudCardContent>
        <MudText Typo="Typo.h6">Reservation Details</MudText>
        <MudText>Reservation ID: @ReservationToDisplay.Id</MudText>
        <MudText>Customer Name: @ReservationToDisplay.User.UserName </MudText>
        <MudText>Reservation Date: @ReservationToDisplay.StartDate.ToString("dd.MM") - @ReservationToDisplay.EndDate.ToString("dd.MM.yyyy")</MudText>
        @foreach (var rr in ReservationToDisplay.RoomReservations)
        {
            <MudText>Room Name: @rr.Room.Name</MudText>
        }
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NavigateToEditPage())">Edit</MudButton>
        <div style="flex-grow: 1;"></div>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(() => DeleteReservation())">Delete</MudButton>
    </MudCardActions>
    <Alert @ref="Alert"></Alert>
</MudCard>


@code {
    [Parameter] public Reservation ReservationToDisplay { get; set; } = new();
    private Alert Alert { get; set; } = new();
    private bool _isOverlayVisible = false;

    private void NavigateToEditPage()
    {
        var url = "/edit-reservation/" + ReservationToDisplay.Id;
        NavigationManager.NavigateTo(url);
    }

    private async void DeleteReservation()
    {
        var result = await ReservationService.DeleteReservationAsync(ReservationToDisplay.Id);
        if (result) // If successful, refresh page
        {
            _isOverlayVisible = true;
            await Task.Delay(2000);
            Alert.HideAlert();
        }
        else Alert.ShowAlert(Severity.Error, "Could not delete reservation.");
    }

}