@using RoomReservations.Models
@inject NavigationManager NavigationManager

<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h6">Reservation Details</MudText>
        <MudText>ID rezerwacji: @ReservationToDisplay.Id</MudText>
        <MudText>Email klienta: @ReservationToDisplay.User.UserName </MudText>
        <MudText>Data rezerwacji: @ReservationToDisplay.StartDate.ToString("dd.MM") - @ReservationToDisplay.EndDate.ToString("dd.MM.yyyy")</MudText>
        @foreach (var rr in ReservationToDisplay.RoomReservations)
        {
            <MudText>Nazwa pokoju: @rr.Room.Name</MudText>
        }
    </MudCardContent>
    <MudCardActions>
        <div style="flex-grow: 1;"></div>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NavigateToEditPage())">Edytuj</MudButton>
    </MudCardActions>
</MudCard>


@code {
    [Parameter] public Reservation ReservationToDisplay { get; set; } = new();

    private void NavigateToEditPage()
    {
        var url = "/edit-reservation/" + ReservationToDisplay.Id;
        NavigationManager.NavigateTo(url);
    }

}